@import 'bootstrap-italia/src/scss/bootstrap-italia.scss';

// responsive borders
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .border#{$infix}-top { border-top: $border-width solid $border-color; }
    .border#{$infix}-right { border-right: $border-width solid $border-color; }
    .border#{$infix}-bottom { border-bottom: $border-width solid $border-color; }
    .border#{$infix}-left { border-left: $border-width solid $border-color; }

    .border#{$infix}-top-0 { border-top: 0 !important; }
    .border#{$infix}-right-0 { border-right: 0 !important; }
    .border#{$infix}-bottom-0 { border-bottom: 0 !important; }
    .border#{$infix}-left-0 { border-left: 0 !important; }

    .border#{$infix}-x {
      border-left: $border-width solid $border-color;
      border-right: $border-width solid $border-color;
    }

    .border#{$infix}-y {
      border-top: $border-width solid $border-color;
      border-bottom: $border-width solid $border-color;
    }
  }
}

.u-layout-releaseFull {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

.main p {
  max-width: 32em;
  font-family: Lora, Georgia, serif;
}

.main li {
  font-family: Lora, Georgia, serif;
}

.megamenu-list {
  display: 'inlineBlock';
}

.megamenu-list.depth-0 {
  @include media-breakpoint-up(md) {
    columns: 2;
    column-gap: 1em;
  }
}

.megamenu-list li {
  list-style: none;
}
